<section class='other-actions monster-textareas' id="monsterOtherActions">
  <h3>{{localize "BIO.OTHER_ACTIONS"}}</h3>
  <textarea name="system.bio.other-actions.value">{{this.actor.bio.other-actions.value}}</textarea>
</section>
