<section class="affinities monster-affinities">
  <h3>{{localize "BIO.AFFINITIES"}} <i class="fas fa-sparkles"></i></h3>
  <div class="affinity-boxes">
    <div class="affinity-box affinity-physical inactive-affinity">
      <i class="fa-regular fa-sword"></i>
    </div>
    <div class="affinity-box affinity-air inactive-affinity"></div>
    <div class="affinity-box affinity-bolt inactive-affinity"></div>
    <div class="affinity-box affinity-dark inactive-affinity"></div>
    <div class="affinity-box affinity-earth inactive-affinity"></div>
    <div class="affinity-box affinity-fire inactive-affinity"></div>
    <div class="affinity-box affinity-ice inactive-affinity"></div>
    <div class="affinity-box affinity-light inactive-affinity"></div>
    <div class="affinity-box affinity-poison inactive-affinity"></div>
  </div>
</section>
