<section class="affinities monster-affinities">
  <h3>{{localize "BIO.AFFINITIES"}} <i class="fas fa-sparkles"></i></h3>
  <div class="affinity-boxes">
    <div class="affinity-box affinity-physical {{this.actor.system.affinities.physical.class}}">
      <i class="fa-regular fa-sword"></i>
      <span>{{this.actor.system.affinities.physical.value}}</span>
    </div>
    <div class="affinity-box affinity-air affinity-inactive"></div>
    <div class="affinity-box affinity-bolt affinity-inactive"></div>
    <div class="affinity-box affinity-dark affinity-inactive"></div>
    <div class="affinity-box affinity-earth affinity-inactive"></div>
    <div class="affinity-box affinity-fire affinity-inactive"></div>
    <div class="affinity-box affinity-ice affinity-inactive"></div>
    <div class="affinity-box affinity-light affinity-inactive"></div>
    <div class="affinity-box affinity-poison affinity-inactive"></div>
  </div>
</section>
