<section class="affinities monster-affinities">
  <h3>{{localize "BIO.AFFINITIES"}} <i class="fas fa-sparkles"></i></h3>
  <div class="affinity-boxes">
    <div class="affinity-box affinity-physical"></div>
    <div class="affinity-box affinity-air"></div>
    <div class="affinity-box affinity-bolt"></div>
    <div class="affinity-box affinity-dark"></div>
    <div class="affinity-box affinity-earth"></div>
    <div class="affinity-box affinity-fire"></div>
    <div class="affinity-box affinity-ice"></div>
    <div class="affinity-box affinity-light"></div>
    <div class="affinity-box affinity-poison"></div>
  </div>
</section>
