<section class='attacks monster-textareas' id="monsterAttacks">
  <h3>{{localize "BIO.ATTACKS"}}<i class="fas fa-swords"></i> </h3>
  <textarea name="system.bio.attacks.value">{{this.actor.bio.attacks.value}}</textarea>
</section>
