<section class="experience">
  <div id='monsterExperienceFields' class="experience-fields" >
    <div><label class="monster-main-fields" id="monsterLevel"><p>{{localize "BIO.LEVEL"}}</p><input class="number-input" name="system.bio.level.value" type="number" value="{{this.actor.bio.level.value}}"></input></label></div>
    <div><label class="monster-main-fields"><p>{{localize "BIO.INIT"}}</p><input class="number-input" name="system.bio.init.value" type="number" value="{{this.actor.bio.init.value}}"></input></label></div>
  </div>
</section>
