<section class='special-rules monster-textareas double-wide' id="monsterSpecialRules">
  <h3>{{localize "BIO.SPECIAL_RULES"}}</h3>
  <textarea name="system.bio.special-rules.value">{{this.actor.bio.special-rules.value}}</textarea>
</section>
