<section class='spells monster-textareas' id="monsterSpells">
  <h3>{{localize "BIO.SPELLS"}}<i class="fas fa-wand-magic-sparkles"></i> </h3>
  <textarea name="system.bio.spells.value">{{this.actor.bio.spells.value}}</textarea>
</section>
