<div class="main-tab">
  <div class="left-content double-wide">
    {{> "systems/fabula-ultima/templates/actor/character/parts/initiative.hbs" }}
    {{> "systems/fabula-ultima/templates/actor/character/parts/pronouns.hbs" }}
    {{> "systems/fabula-ultima/templates/actor/parts/defense.hbs" }}
    {{> "systems/fabula-ultima/templates/actor/parts/magic_defense.hbs" }}
    {{> "systems/fabula-ultima/templates/actor/parts/hit_points.hbs" }}
    {{> "systems/fabula-ultima/templates/actor/parts/mind_points.hbs" }}
    {{> "systems/fabula-ultima/templates/actor/parts/attributes_and_status_effects.hbs" }}
    {{> "systems/fabula-ultima/templates/actor/character/parts/traits.hbs" }}
  </div>

  <section class="right-sidebar">
    {{> "systems/fabula-ultima/templates/actor/parts/profile_images.hbs" }}
  </section>

  <footer class="footer triple-wide">
    {{> "systems/fabula-ultima/templates/actor/character/parts/bonds.hbs" }}
    {{> "systems/fabula-ultima/templates/actor/character/parts/fabula_points.hbs" }}
    {{> "systems/fabula-ultima/templates/actor/character/parts/inventory_points.hbs" }}
    {{> "systems/fabula-ultima/templates/actor/character/parts/experience.hbs" }}
    {{> "systems/fabula-ultima/templates/actor/character/parts/zenit.hbs" }}
  </footer>
</div>
