<div class="main-tab">
  <div class="left-content double-wide">
    <section id="monsterPointsAndDefences">
      {{> "systems/fabula-ultima/templates/actor/parts/hit_points.hbs" }}
      {{> "systems/fabula-ultima/templates/actor/parts/mind_points.hbs" }}
      {{> "systems/fabula-ultima/templates/actor/parts/defense.hbs" }}
      {{> "systems/fabula-ultima/templates/actor/parts/magic_defense.hbs" }}
    </section>

    {{> "systems/fabula-ultima/templates/actor/monster/parts/affinities.hbs" }}
    {{> "systems/fabula-ultima/templates/actor/parts/attributes_and_status_effects.hbs" }}
    {{> "systems/fabula-ultima/templates/actor/monster/parts/traits.hbs" }}
    {{> "systems/fabula-ultima/templates/actor/monster/parts/attacks.hbs" }}
    {{> "systems/fabula-ultima/templates/actor/monster/parts/spells.hbs" }}
    {{> "systems/fabula-ultima/templates/actor/monster/parts/actions.hbs" }}
    {{> "systems/fabula-ultima/templates/actor/monster/parts/special_rules.hbs" }}
  </div>

  <section class="right-sidebar">
    {{> "systems/fabula-ultima/templates/actor/monster/parts/experience.hbs" }}
    {{> "systems/fabula-ultima/templates/actor/parts/profile_images.hbs" }}
  </section>
</div>
