.typical-traits {
  width: calc(100% - 87px);
}

.monster-experience-fields {
  flex-direction: row !important;
}

.monster-main-fields {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 0 5px 0 15px;
  & > p {
    font-size: medium;
  }
}

.monster-level {
  z-index: 1;
}

.monster-points-and-defences {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 9px 0 5px;
  & > .mind-points > h4 {
    z-index: 2;
    position: relative;
  }
}

.monster-affinities {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  & > h3 {
    width: 400px;
  }
}

.affinity-boxes {
  width: 400px;
  display: flex;
}

.affinity-box {
  height: 40px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: #6d6d6d 1px solid;
  cursor: pointer;
}

.affinity-box > span {
  transform: scaleY(2);
  font-family: fangsong;
}

.affinity-inactive {
  color: lightgray;
}

.affinity-vulnerable {
  color: red;
}

.affinity-resistant {
  color: blue;
}

.affinity-immune {
  color: gold;
}

.affinity-absorbs {
  color: green;
}
