#dark-text {
  color: #3f6067;
  font-weight: bold;
  border: none;
}
#number-input {
  width: 40px;
  transition: box-shadow .33s ease-out;
  text-align: center;
  &:hover {
    box-shadow: 0 5px 0 -4px currentColor;
  }
}

.character {
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  grid-template-areas:
  'header header header'
  'main-content main-content right-sidebar'
  'footer footer footer';
}

.character > * {
  padding:1rem;
}

.character > h1,h2,h3,h4,h5 {
  color: #3f6067;
  font-weight: bold;
}

.character > .header {
  grid-area:header;
  font-size: large;
}

.header > h1 > input {
  height: 100%;
  transition: box-shadow .33s ease-out;
  &:hover {
    box-shadow: 0 5px 0 -4px currentColor;
  }
}

.character > .main-content {
  grid-area:main-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(1fr, auto);
  grid-template-areas:
  '. . pronouns pronouns'
  'hit-points hit-points mind-points mind-points'
  'attributes-and-status-effects attributes-and-status-effects attributes-and-status-effects attributes-and-status-effects'
  'traits traits traits traits';
}

.main-content > .pronouns {
  grid-area:pronouns;
  position: relative;
  bottom: 35px;
  align-self: right;
  display: inline-block;
  text-align-last: right;
}

.main-content > .points {
  position: relative;
  bottom: 25px;
}

.main-content > .hit-points {
  grid-area:hit-points;
}
.main-content > .mind-points {
  grid-area:mind-points;
}
.hit-points > h4 >input {
  background: maroon;
  color: white;
  transition: box-shadow .33s ease-out;
  &:hover {
    box-shadow: 0 5px 0 -4px currentColor;
  }
}
.mind-points > h4 >input {
  background: deepskyblue;
  transition: box-shadow .33s ease-out;
  &:hover {
    box-shadow: 0 5px 0 -4px currentColor;
  }
}

.main-content > .attributes-and-status-effects {
  grid-area:attributes-and-status-effects;
  margin-bottom: 15px;
  display: grid;
  grid-template-rows: 10px 20px 15px 20px 10px 20px 15px 20px;
  grid-gap: 5px;
  grid-template-areas:
  'h3 . . '
  'dexterity dexterity .'
  '. . enraged'
  'insight insight .'
  '. . .'
  'might might .'
  '. . poisoned'
  'willpower willpower .';
}
.attributes-and-status-effects > .attribute-stats {
  display: flex;
  justify-content: space-between;
}
.attributes-and-status-effects > .attribute-stats:nth-child(n+3):not(:nth-last-child(-n+2)) {
  border-top: 1px dotted grey;
}
.attributes-and-status-effects > .header {
  width: 300px;
  height: 20px;
  position: relative;
  bottom: 15px;
}

.attribute-stats > .attribute {
  color: darkblue;
}
.attribute-stats > input {
  width: 30px;
  border: none;
  transition: box-shadow .33s ease-out;
  &:hover {
    box-shadow: 0 5px 0 -4px currentColor;
  }
}

.attributes-and-status-effects > .dexterity {
  grid-area:dexterity;
}

.attributes-and-status-effects > .insight {
  grid-area:insight;
}

.attributes-and-status-effects > .might {
  grid-area:might;
}

.attributes-and-status-effects > .willpower {
  grid-area:willpower;
}

.attributes-and-status-effects > .enraged {
  grid-area:enraged;
}
.enraged > p {
  display: flex;
}

.attributes-and-status-effects > .poisoned {
  grid-area:poisoned;
}
.poisoned > p {
  display: flex;
}

.main-content > .traits-section {
  grid-area:traits;
}
.traits-with-answer {
  display: flex;
  justify-content: space-between;
  align-content: start;
  flex-wrap: nowrap;
}
.trait-with-answer > h4 {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.trait-with-answer > * > input {
  border: none;
  transition: box-shadow .33s ease-out;
  &:hover {
    box-shadow: 0 5px 0 -4px currentColor;
  }
}
.footer > .bond-section {
  grid-area:bonds;
}
.bond-section > .bonds {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.bonds > .bond {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: small;
}
.bonds > .bond:not(:first-child) {
  border-top: 1px dotted grey;
}
.bond > input {
  position: relative;
  top: 20px;
  width: 75px;
  border: none;
  transition: box-shadow .33s ease-out;
  &:hover {
    box-shadow: 0 5px 0 -4px currentColor;
  }
}

.bond-feels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
}

.character > .right-sidebar {
  grid-area:right-sidebar;
}
.character > .footer {
  grid-area:footer;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(1fr, auto);
  grid-template-areas:
  'bonds bonds bonds bonds bonds'
  'fabula-points fabula-points inventory-points inventory-points inventory-points'
  'glossary glossary inventory-points inventory-points inventory-points'
  'glossary glossary zenit zenit zenit';
}

.footer > .fabula-points {
  grid-area:fabula-points;
}
.footer > .inventory-points {
  border-left: 1px solid saddlebrown;
  padding-left: 5px;
  grid-area:inventory-points;
}
.inventory-points > .inventory-points-fields > {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.inventory-points-fields > input {
  width: 30px;
  transition: box-shadow .33s ease-out;
  &:hover {
    box-shadow: 0 5px 0 -4px currentColor;
  }
}
.inventory-points-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inventory-points-fields > .inventory-points-header {
  font-size: large;
  position: relative;
  bottom: 7px;
}
.footer > .glossary {
  grid-area:glossary;
}
.footer > .zenit {
  grid-area:zenit;
}
