<div class="defense">
  <h4>
    {{localize "BIO.DEFENSE"}}
    <input class="number-input" type="number" name="system.baseAttribute.defense.value" value="{{this.actor.attributes.defense.value}}" />
  </h4>
</div>
