<section class="points hit-points">
  <h4>
    {{localize "BIO.HIT_POINTS"}}
    <input class="number-input" type="number" name="system.baseAttribute.baseHitPoints.value" value="{{this.actor.attributes.baseHitPoints.value}}" /> / <input class="number-input" type="number" name="system.baseAttribute.baseHitPoints.max" value="{{this.actor.attributes.baseHitPoints.max}}" />
  </h4>
</section>
