<section class="magic-defense">
  <h4>
    {{localize "BIO.MAGIC_DEFENSE"}}
    <input class="number-input" type="number" name="system.baseAttribute.magic_defense.value" value="{{this.actor.attributes.magic_defense.value}}" />
  </h4>
</section>
