<section class="points mind-points">
  <h4>
    {{localize "BIO.MIND_POINTS"}}
    <input class="number-input" type="number" name="system.baseAttribute.baseMindPoints.value" value="{{this.actor.attributes.baseMindPoints.value}}" /> / <input class="number-input" type="number" name="system.baseAttribute.baseMindPoints.max" value="{{this.actor.attributes.baseMindPoints.max}}" />
  </h4>
</section>
