<div class="initiative-modifier">
  <h4>
    {{localize "BIO.INITIATIVE_MODIFIER"}}
    <input class="number-input" type="number" name="system.baseAttribute.initiative_modifier.value" value="{{this.actor.attributes.initiative_modifier.value}}" />
  </h4>
</div>
