<section class="pronouns">
  <h4>
    {{localize "BIO.PRONOUNS"}}
    <input class="dark-text" style="width: 100px" name="system.bio.pronouns.value" type="text" value="{{this.actor.bio.pronouns.value}}" />
  </h4>
</section>
