<section class="zenit">
  <h3>{{localize "EQUIPMENT.ZENIT"}}<i class="fas fa-coins"></i> </h3>
  <input class="number-input" name="system.equipment.zenit.value" type="number" value="{{this.actor.system.equipment.zenit.value}}" />
</section>
