<div class="zenit">
  <h3>{{localize "BIO.ZENIT"}}<i class="fas fa-coins"></i> </h3>
  <input class="number-input" name="system.bio.zenit.value" type="number" value="{{this.actor.bio.zenit.value}}" />
</div>
